
---
title: Microsoft Edge {{ data.nextBetaVersion }} web platform release notes ({% monthYear data.nextBetaReleaseDate %})
description: Microsoft Edge {{ data.nextBetaVersion }} web platform release notes ({% monthYear data.nextBetaReleaseDate %})
author: MSEdgeTeam
ms.author: msedgedevrel
ms.topic: conceptual
ms.service: microsoft-edge
ms.date: 
---
# Microsoft Edge {{ data.nextBetaVersion }} web platform release notes ({% monthYear data.nextBetaReleaseDate %})
<!-- todo: update date: field to:
ms.date: 
per build report, must be < 30 days in future
-->

The following are the new web platform features and updates in Microsoft Edge {{ data.nextBetaVersion }}, which releases on {% monthDayYear data.nextBetaReleaseDate %}.

To stay up-to-date and get the latest web platform features, download a preview channel of Microsoft Edge (Beta, Dev, or Canary); go to [Become a Microsoft Edge Insider](https://www.microsoft.com/edge/download/insider).

**Detailed contents:**

* [Edge DevTools](#edge-devtools)
* [WebView2](#webview2)
* [CSS/SVG/Web API features](#csssvgweb-api-features)
  {% for feature in data.csFeatures["Enabled by default"] %}
  * [{{ feature.name }}](#{{ feature.name | slugify }})
  {% endfor %}
* [Deprecated or removed features](#deprecated-or-removed-features)
  {% for feature in data.csFeatures["Deprecated"] %}
  * [{{ feature.name }}](#{{ feature.name | slugify }})
  {% endfor %}
  {% for feature in data.csFeatures["Removed"] %}
  * [{{ feature.name }}](#{{ feature.name | slugify }})
  {% endfor %}
* [Origin trials in Microsoft Edge](#origin-trials-in-microsoft-edge)
  {% for trial in data.edgeOTs %}
  * [{{ trial.title }}](#{{ trial.title | slugify }})
  {% endfor %}
* [Chromium origin trials](#chromium-origin-trials)
  {% for trial in data.chromeOTs %}
  * [{{ trial.title }}](#{{ trial.title | slugify }})
  {% endfor %}


<!-- ====================================================================== -->
## Edge DevTools

See [What's New in Microsoft Edge DevTools](../../devtools/whats-new/whats-new.md).
<!-- todo: when exists, use instead:
See [What's New in DevTools (Microsoft Edge {{ data.nextBetaVersion }})](../../devtools/whats-new/{{ data.nextBetaVersion }}.md).
-->


<!-- ====================================================================== -->
## WebView2

See [Release Notes for the WebView2 SDK](../../webview2/release-notes/index.md).
<!-- todo: when exists, use instead:
See [1.0.n.n](../../webview2/release-notes/index.md#10nnnnnn) ({% monthYear data.nextBetaReleaseDate %}) in _Release Notes for the WebView2 SDK_.
-->


<!-- ====================================================================== -->
## CSS/SVG/Web API features<!-- old pattern -->
## CSS features
## Web APIs

Below are the new Cascading Style Sheets (CSS) features in Microsoft Edge.
Below are the new Web API features in Microsoft Edge.

{% for feature in data.csFeatures["Enabled by default"] %}

<!-- ------------------------------ -->
#### {{ feature.name }}

{{ feature.summary | safe }}

See also:
* []()
{% endfor %}

<!-- ------------------------------ -->
#### Deprecated or removed features

**TODO: CHECK THE FEATURES LISTED BELOW AND ADD THEM TO THE SITE-COMPAT-IMPACTING-CHANGES ARTICLE.**

{% for feature in data.csFeatures["Deprecated"] %}

<!-- ------------------------------ -->
#### {{ feature.name }}

{{ feature.summary | safe }}
{% endfor %}
{% for feature in data.csFeatures["Removed"] %}

<!-- ------------------------------ -->
#### {{ feature.name }}

{{ feature.summary | safe }}
{% endfor %}


<!-- ====================================================================== -->
## Origin trials in Microsoft Edge

The following are origin trials for new experimental APIs that are available in Microsoft Edge.

Origin trials let you try experimental APIs on your own live website for a limited time.  To learn more about origin trials, see [Use origin trials in Microsoft Edge](../../origin-trials/index.md).

For the full list of available origin trials, see [Microsoft Edge Origin Trials](https://developer.microsoft.com/microsoft-edge/origin-trials/).

{% for trial in data.edgeOTs %}

<!-- ------------------------------ -->
#### {{ trial.title }}

Expires on {{ trial.expiration }}.

{{ trial.description }}

* [Explainer]({{ trial.explainer }})
* [Feedback]({{ trial.feedback }})
* [Register]({{ trial.registration }})

{% endfor %}

<!-- ====================================================================== -->
## Chromium origin trials

Below are active Chromium origin trials which you can try in Microsoft Edge.

For the full list of Chromium origin trials that are available in Microsoft Edge, see [Microsoft Edge Origin Trials](https://developer.microsoft.com/microsoft-edge/origin-trials/).

{% for trial in data.chromeOTs %}

<!-- ------------------------------ -->
#### {{ trial.title }}

Expires on {{ trial.expiration }}.

{{ trial.description }}

* [Explainer]({{ trial.explainer }})
* [Feedback]({{ trial.feedback }})
* [Register]({{ trial.registration }})
{% endfor %}


<!-- ====================================================================== -->
> [!NOTE]
> Portions of this page are modifications based on work created and shared by Chromium.org and used according to terms described in the [Creative Commons Attribution 4.0 International License](https://creativecommons.org/licenses/by/4.0).
